html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    z-index: 900;
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
   z-index: 900;
    text-align: center;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
       -moz-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
    -webkit-transition: all .2s ease-in-out;
       -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;


    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}
.deck .card.mismatch {
    height: 150px;
    width: 150px;
    transform: rotateY(0);
    background: red;
    cursor: default;
    animation: shake 0.5s; 
    animation-iteration-count: 1;

}


.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    animation: test 1s; 
    animation-iteration-count: 1;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block ;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}
.score-panel .minuet    {
    padding-left: 30px;
    text-align: center;    
}
.model {
    text-align: center;
    display: none;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    position: fixed; /* Stay in place */
   background-color: #ffffff;
    padding-top: 100px;

}
.model .sign {
    list-style: none;
    display: inline-block;
}
.model .sign i {
    font-size: 3em;
    color: green;
}
.model .bigtxt {
    font: 2em bold; 
    font-family: "Gill Sans", sans-serif; 
}
.model .play {
    height: 40px;
    width: 200px;
    font: 20px bold;
    background-color: #01ccba;
    color: white;
}
/*set parameter for animation card for wrong and match card */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(10deg); }
    10% { transform: translate(-1px, -2px) rotate(-11deg); }
    20% { transform: translate(-3px, 0px) rotate(11deg); }
    30% { transform: translate(3px, 2px) rotate(10deg); }
    40% { transform: translate(1px, -1px) rotate(11deg); }
    50% { transform: translate(-1px, 2px) rotate(-11deg); }
    60% { transform: translate(-3px, 1px) rotate(10deg); }
    70% { transform: translate(3px, 1px) rotate(-11deg); }
    80% { transform: translate(-1px, -1px) rotate(11deg); }
    90% { transform: translate(1px, 2px) rotate(10deg); }
    100% { transform: translate(1px, -2px) rotate(-11deg); }
}
@keyframes test {
    0% { transform: scale(0.75, 0.75); }
    100% {transform: scale(1, 1);}
}

